/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* .playwrite-gb-s-mainapp{
  font-family: "Playwrite GB S", cursive !important;
  font-optical-sizing: auto;
 
  font-style: normal;
} */
.raleway {
  font-family: "Raleway", serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}
/* * {
  font-family: "Playwrite GB S", serif !important;
  font-style: normal; 
}  */



.testimonials-carousel .carousel .control-dots {
  bottom: -2px;
  text-align: center; /* Adjust this value to position the indicators */
}

.testimonials-carousel .carousel .control-dots .dot {
  background-color: rgb(218, 214, 214); /* Change the default color */
  width: 12px; /* Adjust the size */
  height: 12px; /* Adjust the size */
  margin: 0 5px; /* Adjust the spacing */
  opacity: 1;
}

.testimonials-carousel .carousel .control-dots .dot.selected,
.testimonials-carousel .carousel .control-dots .dot:hover {
  background-color: #007bff; /* Change the color for the selected indicator */
}
